h1 {
  color: black;
  font-size: 50px;
  font-family: "DM Serif Display", serif;
  font-weight: 400;
}

h2 {
  color: rgb(255, 214, 236);
  font-family: "Quicksand", serif;
  font-weight: 400;
  margin-top: -35px;
}
